```
# CMake build artifacts
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Qt autogen files
*_autogen/

# Compiled binaries
*.o
*.obj
*.out
a.out

# Qt moc files
moc_*.cpp
moc_*.h

# Log files
*.log
```